<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appKey</key>
	<string>a1703c14b186a68a66ef86c1</string>
	<key>channel</key>
	<string>appleStore</string>
	<key>wechatAppId</key>
	<string>wx9fc007e24c660e23</string>
	<key>wechatAppSecret</key>
	<string>8489d05daafee188011e165550024066</string>
	<key>twitterConsumerKey</key>
     <string>lJzTuN1Z5VUo2XPA05LRrYvMj</string>
     <key>twitterConsumerSecret</key>
     <string>wBxojvMd31HHSrbOofaoVd1ftdAFFwYSZgb3pMlxJ7F0OdlyPt</string>

</dict>
</plist>